body {

	margin: 0px;
	padding: 0px;
	height: 1000px;
}


#fondo {

	background-color: #088A85;
	height: 100px;
	z-index: 1;
}


.hd {

	background-color:#D8D8D8;
	margin-top: 5%;
	height: 80px;
	width: 100%;
	padding: 3px;

}

.bsq {

	
	width: 100%;
	height: 90px;
	background: #E6E6E6;
	padding: 5%;

	
input {

	width: 95%;
	padding: 5%;
	float: right;
	border: none;
	border-radius: 5%;

}

}



.hd img {

	border-radius: 200px;
	height: 60px;
	padding: 2%;

}

.hd span {

	float: right;
	position: relative;
	margin-top: 4%;
	padding: 3%;
}

.lb {

	background-color: #D8D8D8;
	width: 106%;
	height: 82px;
	margin-top: 3.5%;
	margin-left: -5.8%;
	border-left: 1px solid silver;
	border-bottom: 1px solid silver;



img {

	border-radius: 200px;
	
	height: 60px;
	padding: 2%;

}

h6 {

	display: inline-block;
}

p {

	display: block;
	font-size: 8px;
}

span {

	float: right;
	position: relative;
	margin-top: 3%;
	padding: 1%;
}

}

.conver {

	background: white;
	width: 100%;
	height: 6em;
	padding: 1%;
	border: 1px solid silver;
	margin-top: 2px;

 img {

	
	width: 15%;
	border-radius: 200px;
	padding: 2%;
}

 h4 {

	display: inline-block;
	
}

 p {

	display: block;
	margin-left: 60px;
	margin-top: -3px;
}

 span {

	float: right;
}

}

.panel-2 {
	background-image: url(../image/chat.png);
	background-size: cover;
	width: 106%;
	height: 600px;
	margin-left: -5.5%;
}

.chat {
	width: 30%;


.chat-p {

	background-color: #fff;
	width: 100%;
	box-shadow: 10px 10px 8px -1px rgba(0,0,0,0.73);
	border-radius: 1px;
	margin-top: 50px;
	padding: 3px;
}

h4 {
	color: #2ECCFA;

}

}
.globe {

	color: #FE2E9A;
	background-color: #fff;
	width: 100%;
	box-shadow: 10px 10px 8px -1px rgba(0,0,0,0.73);
	border-radius: 1px;
	margin-top: 1px;
	padding: 3px;
}

.globes {

	color: #01DFA5;
	background-color: #fff;
	width: 100%;
	box-shadow: 10px 10px 8px -1px rgba(0,0,0,0.73);
	border-radius: 1px;
	margin-top: 1px;
	padding: 3px;
}

.glb {


	color: #01DFA5;
	background-color:#D8F6CE;
	width: 80%;
	box-shadow: 5px 5px 4px -1px rgba(0,0,0,0.73);
	border-radius: 1px;
	margin-top: 20px;
	padding: 3px;
	margin-left: 260px;
}

.glb2 {


	color: #01DFA5;
	background-color:#D8F6CE;
	width: 80%;
	box-shadow: 5px 5px 4px -1px rgba(0,0,0,0.73);
	border-radius: 1px;
	margin-top: 2px;
	padding: 3px;
	margin-left: 260px;
}


.msj {

	border:1px solid silver;
	background: white;
	width: 110%;
	height: 90px;
	padding: 5%;
	margin-top: 5%;
	margin-left: -9%;

input {

	width: 80%;
	height: 60px;
	padding: 5%;
	margin-top: -15px;
	border: none;
	border-radius: 5%;

}


button {

	border-style: none;
	background-color: #fff;
	color: aqua;
	font-size: 20px;
}

}

.panel-2 {
	
	overflow-y: scroll;
	overflow-x: hidden;
}
.panel-1 {

	overflow-y: scroll;
	overflow-x: hidden;
}

.panel-1 {

	height: 500px;
}
